<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to "Home", root_path %> / <%= link_to "Catégories", categories_path %> / <%= link_to "Sous-Categories", sub_categories_path %> / <%= link_to "Articles", posts_path %> /
    </div>
    <div class="font-sans bg-white h-screen flex flex-col w-full">
      <%= yield %>
    </div>
  </body>
</html>
